<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="ae.alkamul.utab_etisalat">
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <queries>
        <package android:name="com.sunmi.pay.hardware_v3" />
        <package android:name="app.openmpos.utap.mpin" />
        <package android:name="app.openmpos.mswipe.spoc" />
    </queries>

<!--    <application-->
<!--        android:name="ae.alkamul.utab_etisalat.methods_handler.make_payment.data.ApplicationData"-->
<!--        android:allowBackup="false"-->
<!--        android:appComponentFactory=""-->
<!--        android:label=""-->
<!--        android:usesCleartextTraffic="true">-->
<!--        <activity-->
<!--            android:name="ae.alkamul.utab_etisalat.methods_handler.make_payment.controller.MswipeCPoCARRPaymentView"-->

<!--            android:screenOrientation="portrait"-->
<!--            android:windowSoftInputMode="stateVisible" />-->


<!--        <service android:name="com.mswipe.uaesdk.device.MSDeviceController" />-->

<!--    </application>-->
</manifest>
